@{
    ViewBag.Title = "Thumbnail Example";
}

<br />
<div class="row">
    <div class="col-md-4">
        <a href="~/@ViewBag.OriginalLandscapeImage">
            <img src="~/@ViewBag.LandscapeThumbnail" alt="Landscape Thumbnail" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/@ViewBag.OriginalPortraitImage">
            <img src="~/@ViewBag.PortraitThumbnail" alt="Portrait Thumbnail" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/@ViewBag.OriginalSquareImage">
            <img src="~/@ViewBag.SquareThumbnail" alt="Square Thumbnail" />
        </a>
    </div>
</div>